{% extends "base.html"  %}
{% block title %} Quiz for Python Pro Test {% endblock%}
{% block content %}

<div class="quiz-page-wrapper">
    
    <div class="quiz-header">
        
        <h1>{{ 'Bot Discord' if topic == 'bot_discord' else 'FLask' if topic == 'flask' else 'AI' if topic == 'ai_vision' else 'NLP' }} Quiz Begins!</h1>
        <div class="score-board">
            <span>🏆 Personal Highest: {{ ((user_high_score / count) * 100) | round | int }}%</span>
            <span>🌍 Overall Highest: {{ ((global_high_score / count) * 100) | round | int }}%</span>
        </div>
    </div>

    <form action="/submit" method="POST">
        <input type="hidden" name="topic" value="{{ questions[0].topic_id if questions else '' }}">
        {% for question in questions %}
        <div class="question-card">
            <span class="question-title">{{ loop.index }}. {{ question.text }}</span>
            
            <label class="option-container">
                <input type="radio" name="q{{ question.id }}" value="A">
                <span class="option-text">{{ question.option_a }}</span>
            </label>
            
            <label class="option-container">
                <input type="radio" name="q{{ question.id }}" value="B">
                <span class="option-text">{{ question.option_b }}</span>
            </label>
            
            <label class="option-container">
                <input type="radio" name="q{{ question.id }}" value="C">
                <span class="option-text">{{ question.option_c }}</span>
            </label>
        </div>
        {% endfor %}
        
        <button type="submit" class="btn-submit-quiz">Submit Answers</button>
    </form>
</div>

{% endblock %}